@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  overflow-x: hidden;
}
#page1 {
  height: 100%;
  width: 100%;
  background-color: black;
  padding: 50vw 0;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(119, 212, 243);
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: black;
}

#page2 h1 {
  font-size: 40vw;
  font-weight: 600;
  text-transform: uppercase;
}
